#fullname, #Age, #addr{
    width: 100%;
    background-color: #F3F781;
    border-color: #F6CECE;
    border-radius: 5px;
    border: solid 1px #ccc;
}
img{
  margin-left: 0pt;
}
th{
  background-color: #5858FA;
  color: white;
}
#btn,#btn-edit, #btn-delete{
  background-color: #58257b;
  border: none;
  color: white;
  padding: 5px 20px;
  margin-left: 5px;
  text-align: center;
  font-size: 13px;
  border-radius: 15pt;
}
#btn{
  margin: 5px;
}
#btn-edit{
  background-color: #FF8000;
}
#btn-delete{
  background-color: #FE2E2E;
}
#menu ul {
  background: #bf2d59;
  list-style-type: none;
  text-align: center;
  margin-left: 250px;
  margin-top: -100px;
  margin-bottom: 100px;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  border-radius: 10px;
  height: 30px;
}



